<div class="flex justify-center items-center fixed top-0 left-0 w-full h-full bg-[#000000a9]">
    <div
        class="flex flex-col items-center justify-center gap-3 bg-white shadow-lg rounded-md w-full max-w-[700px] h-auto py-10">

        <ng-container *ngIf="showLoginBtn; else loadingSpinner">
            <svg class="w-[100px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <path
                    d="M30 51.988A21.988 21.988 0 1 1 51.988 30 22.014 22.014 0 0 1 30 51.988zM30 3a27 27 0 1 0 27 27A27.03 27.03 0 0 0 30 3z"
                    style="fill: #EC6453;" />
                <path
                    d="M35.562 20.83l-5.558 5.558-5.557-5.558-3.544 3.544 5.557 5.559-5.557 5.558 3.544 3.544 5.557-5.558 5.558 5.558 3.544-3.544-5.558-5.558 5.558-5.559-3.544-3.544z"
                    style="fill: #EC6453;" />
            </svg>
        </ng-container>
        
        <ng-template #loadingSpinner>
            <mat-spinner></mat-spinner>
        </ng-template>

        <p class="!mt-5 !mb-0 text-md font-medium text-2xl uppercase">{{ loadingTitle }}</p>
        <p class="!m-0 text-md font-normal text-lg">{{ loadingMsg }}</p>
        <button *ngIf="showLoginBtn" mat-flat-button color="primary" class="!mt-3 !px-10 !py-1"
            (click)="loginPopup()">Login</button>
    </div>
</div>